In [ ]:
#create a DataFrame from List
import pandas as pd

student_data = [
    [1, 15],
    [2, 11],
    [3, 11],
    [4, 20]
]

df = pd.DataFrame(student_data, columns=["student_id", "age"])

print(df)

In [ ]:
#Get the Size of a DataFrame
import pandas as pd

data = [
    [846, "Mason", 21, "Forward", "RealMadrid"],
    [749, "Riley", 30, "Winger", "Barcelona"],
    [155, "Bob", 28, "Striker", "ManchesterUnited"],
    [583, "Isabella", 32, "Goalkeeper", "Liverpool"],
    [388, "Zachary", 24, "Midfielder", "BayernMunich"],
    [883, "Ava", 23, "Defender", "Chelsea"],
    [355, "Violet", 18, "Striker", "Juventus"],
    [247, "Thomas", 27, "Striker", "ParisSaint-Germain"],
    [761, "Jack", 33, "Midfielder", "ManchesterCity"],
    [642, "Charlie", 36, "Center-back", "Arsenal"]
]

players = pd.DataFrame(
    data,
    columns=["player_id", "name", "age", "position", "team"]
)
print(result)=(players.shape)

In [ ]:
#display the frist three rows
import pandas as pd
employees = pd.DataFrame([
    [3, "Bob", "Operations", 48675],
    [90, "Alice", "Sales", 11096],
    [9, "Tatiana", "Engineering", 33805],
    [60, "Annabelle", "InformationTechnology", 37678],
    [49, "Jonathan", "HumanResources", 23793],
    [43, "Khaled", "Administration", 40454]
], columns=["employee_id", "name", "department", "salary"])
print(employees.head(3))

In [ ]:
#Select data
import pandas as pd

data = [
    [101, "Ulysses", 13],
    [53, "William", 10],
    [128, "Henry", 6],
    [3, "Henry", 11]
]

students = pd.DataFrame(data,columns=["student_id", "name", "age"])
print(students)
print(students.loc[students["student_id"] == 101, ["name", "age"]])

In [ ]:
#creat a new colum
import pandas as pd
employees = pd.DataFrame({
    "name": ["Piper", "Grace", "Georgia","Willow", "Finn", "Thomas"],
    "salary": [4548, 28150, 1103, 74576, 24433]})
employees["bonus"] = employees["salary"] * 2
print(employees)

In [ ]:
#Drop Duplicate Rows
import pandas as pd
data = [
    [1, "Ella", "emily@example.com"],
    [2, "David", "michael@example.com"],
    [3, "Zachary", "sarah@example.com"],
    [4, "Alice", "john@example.com"],
    [5, "Finn", "john@example.com"],
    [6, "Violet", "alice@example.com"]
]

customers = pd.DataFrame(data, columns=["customer_id", "name", "email"])

print(customers)
print(customers.drop_duplicates(subset="email", keep="first"))

In [ ]:
#Drop Missing data
import pandas as pd
data = [
    [32, "Piper", 5],
    [217, None, 19],
    [779, "Georgia", 20],
    [849, "Willow", 14]
]
df=(pd.DataFrame(data, columns=["student_id", "name", "age"]))
print(students.dropna(subset=["name"]))

In [ ]:
#Modify columns
import pandas as pd

employees = pd.DataFrame({
    "name": ["Jack", "Piper", "Mia", "Ulysses"],
    "salary": [19666, 74754, 62509, 54866]
})
print(employees)
employees["salary"] = employees["salary"] * 2
print(employees)

In [ ]:
#Rename column
import pandas as pd

data = [
    [1, "Mason", "King", 6],
    [2, "Ava", "Wright", 7],
    [3, "Taylor", "Hall", 16],
    [4, "Georgia", "Thompson", 18],
    [5, "Thomas", "Moore", 10]
]
students = pd.DataFrame(data, columns=["Id", "firstname", "lastname", "age"])
print(students)
students.rename(columns={
    "Id": "std_id",
    "firstname": "first_Name",
    "lastname": "last_Name",
    "age": "years"
}, inplace=True)
print(students)

In [ ]:
#Change Data type
import pandas as pd

data = [
    [1, "Ava", 6, 73.0],
    [2, "Kate", 15, 87.0]
]

students = pd.DataFrame(data, columns=["student_id", "name", "age", "grade"])

print(students)
students["grade"] = students["grade"].astype(int)

print(students)

In [ ]:
#fill Missing Data
import pandas as pd
import numpy as np
data = [
    ["Wristwatch", None, 135],
    ["WirelessEarbuds", None, 821],
    ["GolfClubs", 779, 9319],
    ["Printer", 849, 3051]
]
products = pd.DataFrame(data, columns=["name", "quantity", "price"])
print(products)
products["quantity"] = products["quantity"].fillna(0)
print(products)

In [ ]:
#Reshape Data: Concatenate
import pandas as pd
df1 = pd.DataFrame({
    "student_id": [1, 2, 3, 4],
    "name": ["Mason", "Ava", "Taylor", "Georgia"],
    "age": [8, 6, 15, 17]
})
df2 = pd.DataFrame({
    "student_id": [5, 6],
    "name": ["Leo", "Alex"],
    "age": [7, 7]
})
result = pd.concat([df1, df2], ignore_index=True)
print(result)

In [ ]:
#Reshape Data: Pivot
import pandas as pd
weather = pd.DataFrame({
    "city": [
        "Jacksonville", "Jacksonville", "Jacksonville", "Jacksonville", "Jacksonville",
        "ElPaso", "ElPaso", "ElPaso", "ElPaso", "ElPaso"],
    "month": [
        "January", "February", "March", "April", "May",
        "January", "February", "March", "April", "May"],
    "temperature": [13, 23, 38, 5, 34, 20, 6, 26, 2, 43]
})
result = weather.pivot(index='month', columns='city', values='temperature').reset_index()
print(result)

In [ ]:
#Reshape Data: Melt
import pandas as pd
report = pd.DataFrame({
    "product": ["Umbrella", "SleepingBag"],
    "quarter_1": [417, 800],
    "quarter_2": [224, 936],
    "quarter_3": [379, 93],
    "quarter_4": [611, 875]
})
result = report.melt(
    id_vars="product",
    var_name="quarter",
    value_name="sales"
)
print(result)

In [ ]:
#Method chaining
import pandas as pd
animals = pd.DataFrame({
    "name": ["Tatiana", "Khaled", "Alex", "Jonathan", "Stefan", "Tommy"],
    "species": ["Snake", "Giraffe", "Leopard", "Monkey", "Bear", "Panda"],
    "age": [98, 50, 6, 45, 100, 26],
    "weight": [464, 41, 328, 463, 50, 349]
})
result = (animals[animals['weight'] > 100].sort_values('weight', ascending=False)[['name']])
print(result.to_string(index=False))

In [ ]:
                                                #5 PROBLEMES

In [ ]:
                                      # frist problem
# Costomer who Never Order
import pandas as pd
customers = pd.DataFrame({
    "id": [1, 2, 3, 4],
    "name": ["Joe", "Henry", "Sam", "Max"]
})
orders = pd.DataFrame({
    "id": [1, 2],
    "customerId": [3, 1]
})
merged = customers.merge(orders, left_on="id", right_on="customerId", how="left")
no_orders = merged[merged["id_y"].isna()]["name"]
result = pd.DataFrame({"Customers": no_orders})
print(result)

In [ ]:
                              
                             #SECOND PROBLEM
import pandas as pd
data = {
    "employee_id": [2, 3, 7, 8, 9],
    "name": ["Meir", "Michael", "Addilyn", "Juan", "Kannon"],
    "salary": [3000, 3800, 7400, 6100, 7700]
}
df = pd.DataFrame(data)
df["bonus"] = 0 
df["salary"]=df.loc[ (df["employee_id"] % 2 != 0) & (df["name"].str.startswith("M")),"bonus"] 
result = df[["employee_id", "bonus"]].sort_values(by="employee_id")
print(result)

In [ ]:
                                             #THIRD PROBLEM
import pandas as pd
data = {
    "id": [1],
    "salary": [100]
}
df = pd.DataFrame(data)
salaries = df["salary"].drop_duplicates().sort_values(ascending=False)
second_highest = salaries.iloc[1] if len(salaries) > 1 else None
result = pd.DataFrame({"SecondHighestSalary": [second_highest]})
print(result)

In [ ]:
import pandas as pd
import numpy as np

data = {
    "account_id": [3, 2, 8, 6],
    "income": [108939, 12747, 87709, 91796]
}
df = pd.DataFrame(data)
conditions = [df["income"] < 20000,(df["income"] >= 20000) & (df["income"] <= 50000),df["income"] > 50000]
choices = ["Low Salary", "Average Salary", "High Salary"]
df["category"] = np.select(conditions, choices)

In [ ]:
                                                    #PROBLEM five 
import pandas as pd
data = {
    "player_id": [1, 1, 2, 3, 3],
    "device_id": [2, 2, 3, 1, 4],
    "event_date": ["2016-03-01", "2016-05-02", "2017-06-25", "2016-03-02", "2018-07-03"],
    "games_played": [5, 6, 1, 0, 5]
}

df = pd.DataFrame(data)
df["event_date"] = pd.to_datetime(df["event_date"])
result = df.groupby("player_id").agg(first_login=("event_date", "min")).reset_index()
result.columns = ["player_id", "first_login"]
print(result)